@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
}
body{
	background:#fff;
	width:960px;
	margin:0 auto;
	font-size:14px;
}
#header{
	width:auto;
	height:150px;
	border:2px solid #ccc;
	margin:10px 0;
}
ul {
	list-style-type:none;
		
}
h2{
	font-size:14px;
	height:25px;
	background:#eee;
	line-height:25px;
	text-indent:10px;
}
#header h1{
	font-size:50px;
	width:210px;
	height:39px;
	margin:40px 0 0 50px;
}
#header h1 a{
	width:210px;
	height:39px;
	display:block;
	text-indent:9px;
	text-decoration:none;
	}

#header ul{
	
	text-align:right;
	padding:30px 50px 0 0;
}
#header ul li{
	display:inline;
}
#header ul li a{
	text_decoration:none;
	color:#333;
	text-decoration:none;
}
#header ul li a:hover{
	text-decoration:none;
}
#header ul li a:hover{
	color:orange;
	text-decoration:none;
}
#header ul li strong.noread{
	background: url(../../images/noread.gif) no-repeat left center;
	padding: 0 0 0 18px;
	margin: 0 0 0 5px;
}
#header ul li strong.read{
	background: url(../../images/meg.gif) no-repeat left center;
	padding: 0 0 0 18px;
	margin: 0 0 0 5px;
}
#page_text{
	clear: both;
	height: 20px;
	padding: 20px 0;
}
#page_text ul{
	text-align: center;
}
#page_text ul li{
	display: inline;
}
#page_text ul li a{
	color: #333;

	text-decoration: none;
}
#page_num{
	clear: both;
	height: 20px;
	padding: 20px 0;
	position: relative;
}
#page_num ul{
	position: absolute;
	right: 200px;
	height: 20px;
}
#page_num ul li{
	float: left;
	width: 26px;
	height: 20px;
}
#page_num ul li a{
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #333;
	text-align: center;
	text-decoration: none;
}
#page_num ul li a:hover{
	color: #fff;
	background: #666;
	font-weight: bold;
}
#page_num ul li a:hover,#page_num ul li a.selected{
	color: #fff;
	background: #666;
	font-weight: bold;
}

#member{
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size: 12px;
}
#member h2{
	text-align: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
#member #member-sidebar{
	width: 300px;
	height: 550px;
	margin: 15px;
	border: 1px dashed #999;
	float: left;
}
#member #member-sidebar dl{
	width: 250px;
	background: red;
	margin:15px auto;
}
#member #member-sidebar dl dt{
	height: 40px;
	line-height: 40px;
	background: #999;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

#member #member-sidebar dl dd{
	height: 40px;
	line-height: 40px;
	background: #eee;
	font-weight: bold;
	text-align: center;
}
#member #member-sidebar dl dd a{
	display: block;
	text-decoration: none;
	color: #333;
}
#member #member-sidebar dl dd a:hover{
	background: #ccc;
}
#member #member-main{
	width: 590px;
	height: 550px;
	margin: 15px;
	border: 1px solid black;
	float: right;
}

#footer{
	clear:both;
	width:auto;
	height:60px;
	text-align:center;	
	padding:10px 0 0 0;
}
#footer p{
	font-size:16px;
	letter-spacing:1px;
	padding:5px 0 0 0;
	
}
#footer p span{
	color:#06f;
}