@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
}
body{
	background:#fff;
	width:960px;
	margin:0 auto;
	font-size:14px;
}
#header{
	width:auto;
	height:150px;
	border:2px solid #ccc;
	margin:10px 0;
}
ul {
	list-style-type:none;
		
}
h2{
	font-size:14px;
	height:25px;
	background:#eee;
	line-height:25px;
	text-indent:10px;
}
#header h1{
	font-size:50px;
	width:210px;
	height:39px;
	margin:40px 0 0 50px;
}
#header h1 a{
	width:210px;
	height:39px;
	display:block;
	text-indent:9px;
	text-decoration:none;
	}

#header ul{
	
	text-align:right;
	padding:30px 50px 0 0;
}
#header ul li{
	display:inline;
}
#header ul li a{
	text_decoration:none;
	color:#333;
	text-decoration:none;
}
#header ul li a:hover{
	text-decoration:none;
}
#header ul li a:hover{
	color:orange;
	text-decoration:none;
}
#page_text{
	clear: both;
	height: 20px;
	padding: 20px 0;
}
#page_text ul{
	text-align: center;
}
#page_text ul li{
	display: inline;
}
#page_text ul li a{
	color: #333;

	text-decoration: none;
}
#page_num{
	clear: both;
	height: 20px;
	padding: 20px 0;
	position: relative;
}
#page_num ul{
	position: absolute;
	right: 200px;
	height: 20px;
}
#page_num ul li{
	float: left;
	width: 26px;
	height: 20px;
}
#page_num ul li a{
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #333;
	text-align: center;
	text-decoration: none;
}
#page_num ul li a:hover{
	color: #fff;
	background: #666;
	font-weight: bold;
}
#page_num ul li a:hover,#page_num ul li a.selected{
	color: #fff;
	background: #666;
	font-weight: bold;
}
#footer{
	clear:both;
	width:auto;
	height:60px;
	text-align:center;	
	padding:10px 0 0 0;
}
#footer p{
	font-size:16px;
	letter-spacing:1px;
	padding:5px 0 0 0;
	
}
#footer p span{
	color:#06f;
}